body{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #10243b;

}

ul {
    list-style-type: none;
    display: inline;
    padding: 5px 0;
    color:white;
    
}

#nav {
height: 14px;
width: 100%;
}

ul li {
display:inline-block;
font-size: 19.75px;
font-weight: bold;
color: white;
padding: 5px 10px;
font-family: 'Open Sans,' sans-serif;
text-transform: uppercase;
}

#bluenav {
    background-color: #005983;
}

.navlogo{ 
    height: 14px;
    width: 50px;
    
}

#herosection {
width: 100vw;
height: 100vh;
background-image: url(images/graduation.jpg);
background-repeat: no-repeat;
background-size: cover;
}
