body{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #10243b;

}

ul {
    list-style-type: none;
    display: inline;
    padding: 20px 0;
    color:white;
    font-family: 'PT Sans Narrow' , sans-serif;
    font-size: 9pt;
    
}

#nav {
height: 15px;
width: 100%;
}

ul li {
display:inline-block;
font-size: 19.75px;
font-weight: bold;
color: white;
padding: 5px 27px;
font-family: 'PT Sans Narrow,' sans-serif;
text-transform: uppercase;
font-size: 9pt;
}

.bluenavlogo {
    background-color: #005983;
    height: 15px;
    width: 50px;

}

.navlogo{ 
    height: 15px;
    width: 70px;
}



#HeroSection {
width: 100%;
height: 90vh;
background-image: url(images/graduation.jpg);
background-repeat: no-repeat;
background-size: cover;
}

img{
    vertical-align: middle;
}

#explorecchs {
height: 500px;
width: 100%;
background-color: #10243b;
}

#exploreheader{
height: 100px;
width: 100%;
text-align: center;
color: white;
font-family: 'PT Sans Narrow', sans-serif;
vertical-align: middle;
}

#exploresection{
height: 400px;
width: 100%;
}

.exploreblock{
    height: 400px;
    width: 24.6%;
    display: inline-block;
}

#patriotplaza{
    background-image: url(images/patriots\ plaza.jpg);
    background-size: cover;
    background-position: middle;
}

#ccnn{
    background-image: url(images/ccnn.jpg);
    background-size: cover;
    background-position: middle;
}

#colleges{
    background-image: url(images/college.png);
    background-size: cover;
    background-position: middle;
}

#ccnnlive{
    background-image: url(images/ccnn\ live.png);
    background-size: cover;
    background-position: middle;
}

#cchsGlance{
    text-transform: uppercase;
    color:#00344C;
    padding: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0px;
}

.glanceblock{
    height: 400px;
    width: 24.5%;
    display: inline-block;
}

.glanceheader{
    color: red;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    text-align: center;
}

.glancedescription{
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    font-size: 16px;
}

#glanceheader{
    text-align: center;
}
#coursesoffered{
    vertical-align: middle;
    text-align: center;
    background-color: #10243B;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
    color: white;
}

#coursesoffered{
    vertical-align: middle;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    box-sizing: content-box;
    width: 80%;
    margin: auto;
}

#graduateddiv{
    height: 5px;
    width:100%;
    color: black;
}
#graduateheader{
    text-align: center;
    font-size: 12px;
    text-transform: none;
    color: #00344C;
    margin-bottom: 30px;
    font-weight: bold;
}

#footernav{
    padding: 12.5px 25px 12.5px 0;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #0088cc;
    background-color: #10243B;
}
a {
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #0088cc;
    background-color: #10243B;
    padding: 12.5px 25px 12.5px 0;
}
#leftfoot{
    display: inline-block;
}
#rightfoot{
    display: inline-block;
    margin-left: 20%;
}
#realfooter{
    background-color: #333333;
    width: 100%;
    height: 400px;
}
#cchsaddress{
    height: 200px;
    width: 100%;
    display: inline-block;

}
.addressbox{
    height: 100px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .05em;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

#sitemap{
    margin-left: 50%;
}
#cchsfinalfooter{
    height: 100px;
    width: 100%;
    display: inline-block;

}
.finalfooterbox{
    height: 100px;
    width: 50%;
    display: inline-block;
    margin-bottom: 50px;
    opacity: .5;
    font-size: 11px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    
}

#finalfooterimage{
    margin-left: 30%;
    vertical-align: top
}


