body{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #10243b;

}

ul {
    list-style-type: none;
    display: inline;
    padding: 5px 0;
    color:white;
    
}

#nav {
height: 14px;
width: 100%;
}

ul li {
display:inline-block;
font-size: 19.75px;
font-weight: bold;
color: white;
padding: 5px 10px;
font-family: 'Open Sans,' sans-serif;
text-transform: uppercase;
}

#bluenav {
    background-color: #005983;
}

.navlogo{ 
    height: 14px;
    width: 50px;
    
}

#herosection {
width: 100vw;
height: 100vh;
background-image: url(images/graduation.jpg);
background-repeat: no-repeat;
background-size: cover;
}

#explorecchs {
height: 400px;
width: 100vw;
background-color: #10243b;
}

#exploreheader{
height: 100px;
width: 100vw;
text-align: center;
color: white;
}

#exploresection{
height: 300px;
width: 100vw;
background-color: #10243b;
}

.explorebox{
    height: 300px;
    width: 24.5%;
    background-color: yellow;
    display: inline-block;
}

#patriotplaza{
    background-image: url(images/patriots\ plaza.jpg);
    background-size: cover;
    background-position: center;
}

#ccnn{
    background-image: url(images/ccnn.jpg);
    background-size: cover;
    background-position: center;
}

#college{
    background-image: url(images/college.png);
    background-size: cover;
    background-position: center;
}

#ccnnlive{
    background-image: url(images/ccnn\ live.png);
    background-size: cover;
    background-position: center;
}

h2 {
    text-align: center;
    font-size: 48px;
    font-family: "PT Sans Narrow", sans-serif; 

}

.explorebox2 {
    height: 300px;
    width: 24.5%;
    display: inline-block;
}

#carosel{
background-image: url(images/carosel\ money.jpg);
background-size: cover;
background-position: center;

}

#grad{
    background-image: url(images/grad.jpg);
    background-size: cover;
    background-position: center;
}

#sports{
    background-image: url(images/sports.jpg);
    background-size: cover;
    background-position: center;
}

#puzzle{
    background-image: url(images/puzzle.jpg);
    background-size: cover;
    background-position: center;
}

.description{

    height: 100px;
    width: 24.5%;
}

h3{
    display: inline-block;
    font-size: 30px;
    font-family:  "PT Sans Narrow", sans-serif; 
    color: red;
    text-align: center;
    padding: 30px 140px;

}

h4{
display: inline-block;
font-size: 15px;
padding: 3px 3px;
text-align: end;
}





